@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bitcount:wght@100..900&display=swap'); /* Bitcount */

html, body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
}