body {
	background-color: white;
	color: black;
}

header {
	background-color: #ffecb3;
	border-radius: 200px;
	display: flex;
	flex: auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
}
header #club_couture {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #club_couture:hover {
	color: #c5e1c3;
}
header #projet {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #projet:hover {
	color: #c5e1c3;
}
header #inscription {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #inscription:hover {
	color: #c5e1c3;
}
header #nous_contacter {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #nous_contacter:hover {
	color: #c5e1c3;
}

footer {
	background-color: #ffecb3;
	border-radius: 200px;
	display: flex;
    	justify-content: center;
    	align-items: center;
	text-align: center;
}
footer p {
	font-size: medium;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
footer p:hover {
	color: #c5e1c3;
}

.h1 {
	color: #f48f8f;
	text-align: center;
	font-size: 750%;
	margin-top: 10%;
	margin-bottom: 25%;
	background-size: cover;
}

#le_club_couture {
	color: #aedff7;
	text-align: center;
	font-size: 500%;
}

.paragraphe {
	font-size: 225%;
}


#projet {
  	color: #aedff7;
	text-align: center;
	font-size: 500%;
}


#inscription {
	color: #aedff7;
	text-align: center;
	font-size: 500%;
}


#nous_contacter {
	color: #aedff7;
	text-align: center;
	font-size: 500%;
}
