#body_index {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_projet {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_inscription {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_mentions_legales {
	background-color: #FFF5E1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}

header {
	background-color: #FFD36E;
	border-radius: 200px;
	display: flex;
	flex: auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}
header #club_couture {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #club_couture:hover {
	color: #F95C8E;
}
header #projet {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #projet:hover {
	color: #F95C8E;
}
header #inscription {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #inscription:hover {
	color: #F95C8E;
}
header #nous_contacter {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
header #nous_contacter:hover {
	color: #F95C8E;
}

footer {
	background-color: #FFD36E;
	border-radius: 200px;
	display: flex;
    	justify-content: center;
    	align-items: center;
	text-align: center;
}
footer p {
	font-size: medium;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

#h1 {
    max-width: 100%;
    width: 40%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#le_club_couture {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}

.description_index {
	background-color: #FFF5E1;
	border-radius: 100px;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}

.paragraphe_index {
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-size: 225%;
}
.paragraphe_projet {
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-size: 225%;
}
.paragraphe_inscription {
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-size: 225%;
	text-align: center;
}
.paragraphe_contact {
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-size: 225%;
}
.texte_centre {
	display: grid;
	grid-template-columns: 40% 10% 40%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.texte_gauche {
	display: grid;
	grid-template-columns: 60% 30%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.texte_droite {
	display: grid;
	grid-template-columns: 30% 60%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.img {
	width: 100%;
}


.hyperlien {
	color: black;
}
.hyperlien:hover {
	color: #F95C8E;
	text-decoration: none;
}

#projet {
	font-family: "Knewave", system-ui;
  	font-style: normal;
  	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_projet {
	background-color: #FFF5E1;
	border-radius: 100px;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.description_projet .texte_gauche {
	margin-left: 1%;
}
.description_projet .texte_droite {
	margin-left: 5%;
}


#inscription {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_inscription {
	background-color: #FFF5E1;
	border-radius: 100px;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}


#nous_contacter {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_contact {
	background-color: #FFF5E1;
	border-radius: 100px;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.description_contact .texte_centre {
	margin-left: 1%;
}


#mentions_legales {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_mentions_legales {
	background-color: #FFF5E1;
	border-radius: 100px;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.titre_mentions {
	padding-left: 2.5%;
    	padding-right: 2.5%;
    	font-size: 225%;
}
.paragraphe_mentions {
    	padding-left: 2.5%;
    	padding-right: 2.5%;
    	font-size: 225%;
}
